Tests: basic-smoke
Depends: busybox-static (>= 1:1.38.0-3ubuntu3~), @
Restrictions: allow-stderr, isolation-machine, needs-root

Test-Command: /usr/bin/dh_golang_autopkgtest
Depends: @, @builddeps@, dh-golang
Restrictions: allow-stderr, isolation-machine, needs-root
